.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.4);
  padding: 0 16px;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  display: flex;
  flex-direction: column;
  background: white;
  padding-top: 32px;
  padding-right: 50px;
  padding-bottom: 32px;
  padding-left: 50px;
  max-width: 730px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  border-radius: 8px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  max-width: 630px;
  width: 100%;
}
.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  background-color: transparent;
  border: none;
  color: #212121;
  opacity: 40%;
  width: 40px;
  height: 40px;
}
.modal__title {
  width: 169px;
  height: 32px;
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
  margin-right: auto;
  padding-bottom: 50px;
}
.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  color: #212121;
  opacity: 70%;
}
.modal__input {
  padding: 16px 12px;
  max-width: 630px;
  width: 100%;
  border-radius: 8px;
  font-family: "Poppins", "Helvetica", "sans-serif";
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  margin: 0;
  gap: 10px;
  box-sizing: border-box;
  border-width: 1px;
}

.modal__submit-button {
  width: 156px;
  height: 52px;
  padding: 18px, 32px;
  background-color: #212121;
  color: #fcf5e5;
  gap: 8px;
  border-radius: 8px;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }
  .modal__container {
    padding: 12px;
  }
  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
    margin-right: auto;
    padding: 0;
  }
  .modal__close-button {
    top: 12px;
    right: 12px;
  }
  .modal__label {
    margin-bottom: 24px;
  }
  .modal__submit-button {
    width: 100%;
  }
}
