.modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.4);
  padding: 0 16px;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  padding: 33px 50px 46px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__content {
  background-color: white;
  width: 100%;
  max-width: 730px;
  position: relative;
  box-sizing: border-box;
  padding: 33px 50px 46px;
  border-radius: 8px;
}
.modal__image-preview {
  width: 446px;
  height: 661px;
  border-radius: 8px;
  position: relative;
  left: -50px;
  top: 0px;
}

.modal__content_type_preview {
  background: transparent;
}

.modal__form {
  display: flex;
  flex-direction: column;
  max-width: 630px;
  width: 100%;
  /* padding: 33px 50px 46px; */
}
.modal__close {
  position: absolute;
  top: 27px;
  right: 40px;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  background-image: url("../images/modalCloseBtn.svg");
  opacity: 40%;
}
.modal__close:hover {
  opacity: 100%;
}
.modal__close_type_preview {
  background-image: url("../images/modalCloseBtn-white.svg");
  cursor: pointer;
  top: 33px;
  right: 3px;
  opacity: 100%;
  position: relative;
  left: 245px;
}
.modal__close_type_preview:hover {
  opacity: 40%;
}

.modal__title {
  width: fit-content;
  height: 32px;
  margin: 0;
  font-family: "Poppins", "Arial", "Helvetica", "sans-serif";
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
  margin-right: auto;
  padding-bottom: 32px;
}
.modal__label {
  display: block;
  font-family: "Poppins", "Arial", "Helvetica", "sans-serif";
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  color: #212121;
  opacity: 70%;
  margin-bottom: 32px;
}
.modal__input {
  padding: 16px 12px;
  max-width: 630px;
  max-height: 52px;
  width: 100%;
  border-radius: 8px;
  font-family: "Poppins", "Arial", "Helvetica", "sans-serif";
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  margin-top: 8px;
  margin-bottom: 0;
  gap: 10px;
  box-sizing: border-box;
  border-width: 1px;
}
.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}
.modal__error {
  display: block;
  color: #ff0000;
  opacity: 70%;
  /* margin: 8px 0 32px; */
  width: 630px;
  overflow: hidden;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  padding: 8px 0 32px;
}

.modal__submit-button {
  width: 156px;
  height: 52px;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  cursor: pointer;
}
.modal__submit-button_disabled {
  opacity: 50%;
}

.modal__submit-button:hover {
  background: #212121;
  opacity: 80%;
}

.modal__caption {
  margin: 12px 0 0;
  font-family: "Poppins", "Arial", "Helvetica", "sans-serif";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background-color: #212121;
  color: white;
  border-radius: 8px;
  padding: 4px 8px;
  width: fit-content;
  position: absolute;
  left: 0px;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
    margin-right: auto;
    padding: 0;
    /* width: 93px; */
    height: 20px;
  }
  .modal__close {
    top: 4px;
    right: 2px;
  }
  .modal__close_type_preview {
    top: -30px;
    right: 0px;
    background-image: url("../images/modalCloseBtn-white.svg");
  }
  .modal__label {
    margin-bottom: 24px;
  }
  .modal__submit-button {
    width: 100%;
    gap: 24px;
  }
  .modal__content {
    width: 300px;
    padding: 12px;
    top: 134px;
    position: relative;
    gap: 24px;
  }
  .modal__input {
    width: 276px;
    height: 48px;
    border-radius: 8px;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }
}
.modal__image-preview {
  width: 288px;
  height: 426px;
}
.modal__content_type_preview {
  max-width: 288px;
}
.modal__error {
  display: block;
  padding: 0;
  width: 300px;
}
