.footer {
  max-width: 1280px;
  background-color: #fcf5e5;
  padding-bottom: 90px;
  margin: 0 auto;
  display: flex;
}
.footer__copyright {
  padding-top: 60px;
  margin: 0 auto;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #212121;
  opacity: 70%;
}
